
        h1{color:blanchedalmond;}
        /**{border:solid;}*/
.header{
    background-color: darkcyan;
    display:flex;
    justify-content: space-around;
}   

.paragraph{
    background-color: darkorchid;
    display: flex;
    justify-content: right;
}

.game1{
    background-color: darkseagreen;
    display: flex;
    justify-content: inherit;
}
.game2{
    background-color: rgb(143, 187, 188);
    display: flex;
    justify-content: inherit;
}

.grid{
    background-color: rgb(169, 143, 188);
    display: flex;
    justify-content: center;
}

.footer{
    background-color: rgb(186, 93, 129);
    display: flex;
    justify-content: flex-end;
}

p.h2{
    text-align: center;
}